# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [1]:
def sum(l):
    sum = 0
    for i in l:
        sum += i
    return sum

listt = [1,2,3,4,5]
print(sum(listt))

15

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [7]:
def maxx(l):
    max = 0
    for i in l:
        if i > max:
            max = i

    return max

In [8]:
Input = [3, 5, 1, 9, 2]
print(maxx(Input))

9

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [13]:
def minn(l):
    min = 10 ** 100
    for i in l:
        if i <= min:
            min = i

    return min

In [14]:
Input = [10, 15, 3, 8]
print(minn(Input))

3

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [15]:
def reverse(l):
    return l[::-1]

In [16]:
Input = ["a", "b", "c", "d"]
print(reverse(Input))

['d', 'c', 'b', 'a']

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [22]:
def palindrome(l):
    for i in range(len(l)):
        if l[i] != l[len(l) -i -1]:
            return False
    return True

In [23]:
Input = [1, 2, 3, 2, 1]
print(palindrome(Input))

True

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [26]:
def freq(l):
    dict = {}
    for i in l:
        if i in dict.keys():
            dict[i] += 1
        else:
            dict[i] = 1
    return dict

In [27]:
Input = [1, 2, 2, 3, 3, 3]
print(freq(Input))

{1: 1, 2: 2, 3: 3}

In [28]:
Input = ["a", "b", "a", "c", "c", "c"]
print(freq(Input))

{'a': 2, 'b': 1, 'c': 3}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [32]:
def second_largest(l):
    max = 0
    second_max = 0

    for i in l:
        if i>= max:
            temp = max
            max = i
            second_max = temp

    return second_max

In [33]:
Input =  [10, 20, 4, 45, 99]
print(second_largest(Input))

45

In [34]:
Input = [3, 5, 7, 7, 8]
print(second_largest(Input))

7

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [38]:
def merge(l1, l2):
    l = []

    i = 0
    j = 0

    while (i < len(l1)) and ( i < len(l2)):
        if l1[i] < l2[j]:
            l.append(l1[i])
            i += 1
        else:
            l.append(l2[j])
            j += 1

    while i < len(l1):
        l.append(l1[i])
        i += 1

    while j < len(l2):
        l.append(l2[j])
        j += 1

    return l

In [39]:
l1 = [1,3,5]
l2 = [2,4,6]

print(merge(l1,l2))

[1, 2, 3, 4, 5, 6]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [42]:
def duplicate(listt):
    result = []
    for i in listt:
        if i not in result:
            result.append(i)

    return result

In [43]:
Input = [1, 2, 2, 3, 4, 4, 5]
print(duplicate(Input))

[1, 2, 3, 4, 5]

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [58]:
def rotate(listt, k):
    index = len(listt) - k 
    return listt[index :] + listt[0: index]

In [59]:
listt = [ 1,2,3,4,5 ]
k = 2

print(rotate(listt, k))

[4, 5, 1, 2, 3]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [60]:
def intersection(list1, list2):
    common = []
    for i in list1:
        if i in list2:
            common.append(i)

    return common

In [61]:
Input1 = [1, 2, 3, 4]
Input2 = [3, 4, 5, 6]

print(intersection(Input1, Input2))

[3, 4]

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [62]:
def union(list1, list2):
    union = []
    for i in list1:
        if i not in union:
            union.append(i)

    for i in list2:
        if i not in union:
            union.append(i)

    return union

In [63]:
Input1 = ["a", "b", "c"]
Input2 = ["b", "c", "d"]

print(union(Input1, Input2))

['a', 'b', 'c', 'd']

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [64]:
def difference(list1, list2):
    difference = []
    for i in list1:
        if i not in list2:
            difference.append(i)

    return difference

In [65]:
Input1= ["cat", "dog", "rabbit"]
Input2 = ["dog", "rabbit"]

print(difference(Input1, Input2))

['cat']

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [66]:
def mode(l):
    dict = {}

    #this will find the frequency
    for i in l:
        if i in dict.keys():
            dict[i] += 1
        else:
            dict[i] = 1

    #finding largest value
    max_value = max(dict.values())

    #finding mode
    for k,v in dict.items():
        if v == max_value:
            return k

In [67]:
Input = ["apple", "banana", "apple", "cherry", "apple"]
print(mode(Input))

apple

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [74]:
def nested(listt):
    stack = listt
    nested_list = []
    
    while stack:
        element = stack.pop()
        if isinstance(element, list):
            stack.extend(element)
        else:
            nested_list.append(element)

    return nested_list[::-1]

In [75]:
Input = [["a", ["b", "c"]], "d"]
print(nested(Input))

['a', 'b', 'c', 'd']

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [81]:
def sum(listt, target):
    pairs =[]
    for i in range(len(listt)):
        num1 = listt[i]

        # not including the ith element
        for num2 in   listt[i+1:]:
            if (num1 + num2) == target:
                numbers = (num1, num2)
                if numbers not in pairs:
                    pairs.append(numbers)

    return pairs

In [82]:
Input = [2, 4, 6, 8]
target=10

print(sum(Input, target))

[(2, 8), (4, 6)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [7]:
def product(listt):
    new =[]
    
    for i in range(len(listt)):
        product_of_values = 1
        
        for j in (listt[0:i] + listt[i+1:]):
            product_of_values *= j

        new.append(product_of_values)

    return new

In [8]:
Input = [1,2,3,4]
print(product(Input))

[24, 12, 8, 6]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [19]:
def longest_sequence(listt):
    if not listt:
        return 0

    listt = sorted(set(listt))  #  sort
    max_count = 1
    current_count = 1

    for i in range(1, len(listt)):
        if listt[i] - listt[i - 1] == 1:
            current_count += 1
            max_count = max(max_count, current_count)
        else:
            #reset
            current_count = 1 

    return max_count

In [20]:
Input = [100, 4, 200, 1, 3, 2]
print(longest_sequence(Input))

4

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [34]:
def sub_list(listt, sublist):

    for i in range(len(listt)):

        #check for index so we dont exceed out of range of listt in future
        if (i + len(sublist) ) <= len(listt):
            length_of_sublist = len(sublist)
            if listt[i: i + length_of_sublist] == sublist:
                return True

    return False

In [35]:
Input = [1, 2, 3, 4, 5]
sublist = [3, 4]

print(sub_list(Input,sublist))

True

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [22]:
def kth_largest( listt, k):

    listt.sort()
    return listt[len(listt) - k]

In [27]:
Input = [3, 2, 1, 5, 6, 4]
k=2

print(kth_largest(Input,k))

5

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [43]:
def duplicate(listt):
    dict = {}
    for i in listt:
        if i in dict.keys():
            dict[i] += 1
        else:
            dict[i] = 1

    # Collect duplicates
    duplicates = [k for k, v in dict.items() if v > 1]
    return duplicates

In [44]:
Input = [10, 10, 20, 30, 30]
print(duplicate(Input))

[10, 30]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [37]:
def split(listt):
    even =[]
    odd =[]
    for i in listt:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)

    return even, odd

In [38]:
Input = [1,2,3,4,5]
print(split(Input))

([2, 4], [1, 3, 5])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [46]:
def first_non_repeating(listt):
    dict = {}
    for i in listt:
        if i in dict.keys():
            dict[i] += 1
        else:
            dict[i] = 1

    # Collect duplicates
    duplicates = [k for k, v in dict.items() if v == 1]
    return duplicates[0]

In [48]:
Input = [10,20,10,30,20]
print(first_non_repeating(Input))

30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [53]:
def merge_sort(arr):
    if len(arr) <= 1:
        return arr

    mid = len(arr) // 2
    left_half = merge_sort(arr[:mid])
    right_half = merge_sort(arr[mid:])

    return merge(left_half, right_half)

In [57]:
def merge(left, right):
    result = []
    i = 0
    j = 0

    # merging the lists
    while i < len(left) and j < len(right):
        if left[i] < right[j]:
            result.append(left[i])
            i += 1
        else:
            result.append(right[j])
            j += 1

    # append any remaining elements 
    while i < len(left):
        result.append(left[i])
        i += 1

    
    while j < len(right):
        result.append(right[j])
        j += 1

    return result

In [58]:
Input = [10, 5, 2, 8]
print(merge_sort(Input))

[2, 5, 8, 10]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [56]:
def triplets(listt):
    sum_to_zero_triplets = []
    n = len(listt)

    for i in range(n):
        for j in range(i + 1, n):
            for k in range(j + 1, n):
                if listt[i] + listt[j] + listt[k] == 0:
                    triplet = [listt[i], listt[j], listt[k]]
                    if triplet not in sum_to_zero_triplets:
                        sum_to_zero_triplets.append(triplet)

    return sum_to_zero_triplets

In [59]:
Input= [-1, 0, 1, 2, -1, -4]
print(triplets(Input))

[[-1, 0, 1], [-1, 2, -1], [0, 1, -1]]